<app-menu></app-menu>
<h1>Cadastrar novo medico</h1>
<form>
    <div>
        <div>
            Nome<input class="input" id="nome" type="text" [formControl]="nome">
        </div>
        <div class="formItem">
            Especialidade
           <select name="especialdiade" id="especialdiade" [formControl]="especialidade">
               <ng-container *ngFor="let especialidade of especialidades">
                    <option value="{{especialidade.id}}">{{especialidade.nome}}</option>
               </ng-container>
           </select>
        </div>
        <button class="button" (click)="cadastrar()">Cadastrar</button>
    </div>
</form>
