<app-menu></app-menu>
<div _ngcontent-axo-c28="" class="columns is-centered my-5 ng-star-inserted">
    <div _ngcontent-axo-c28="" class="columns is-10">
        <table _ngcontent-axo-c28="" class="table is-fullwidth is-hoverable has-text-centered">
            <thead _ngcontent-axo-c28="">
                <tr _ngcontent-axo-c28="">
                    <th _ngcontent-axo-c28="">Nome</th>
                    <th _ngcontent-axo-c28="">Data de Cadastro</th>
                    <th _ngcontent-axo-c28="">Especialidade</th>
                    <th _ngcontent-axo-c28="">Ações</th>
                </tr>
            </thead>
            <tbody _ngcontent-axo-c28="">
                <ng-container *ngFor="let medico of medicos">
                    <tr _ngcontent-axo-c28="" class="ng-star-inserted">
                        <td _ngcontent-axo-c28="">{{medico.nome}}</td>
                        <td _ngcontent-axo-c28="">{{medico.dataCadastro}}</td>
                        <td _ngcontent-axo-c28="">
                            <div _ngcontent-axo-c28="" class="buttons">
                                <button _ngcontent-axo-c28=""
                                    class="button is-primary"><span _ngcontent-axo-c28="" class="icon-text"><span
                                            _ngcontent-axo-c28="" class="icon"><i _ngcontent-axo-c28=""
                                                class="far fa-eye"></i></span><span _ngcontent-axo-c28="">Ver
                                            consultas</span></span></button>
                                <button _ngcontent-axo-c28=""
                                    class="button is-warning"><span _ngcontent-axo-c28="" class="icon-text"><span
                                            _ngcontent-axo-c28="" class="icon"><i _ngcontent-axo-c28=""
                                                class="fas fa-pencil-alt"></i></span><span
                                            _ngcontent-axo-c28="">Editar</span></span></button>
                                <button _ngcontent-axo-c28=""
                                    class="button is-danger"><span _ngcontent-axo-c28="" class="icon-text" (click)="deletarMedico(medico.id)"><span
                                            _ngcontent-axo-c28="" class="icon"><i _ngcontent-axo-c28=""
                                                class="far fa-trash-alt"></i></span><span
                                            _ngcontent-axo-c28="">Deletar</span></span></button></div>
                        </td>
                    </tr>
                </ng-container>
                <!---->
            </tbody>
        </table>
    </div>
</div>