<nav _ngcontent-jgb-c6="" role="navigation" aria-label="main navigation" class="navbar">
    <div _ngcontent-jgb-c6="" id="navbarBasicExample" class="navbar-menu">
        <div _ngcontent-jgb-c6="" class="navbar-start">
            <div _ngcontent-jgb-c6="" class="navbar-item has-dropdown is-hoverable"><a _ngcontent-jgb-c6=""
                    class="navbar-link">Pacientes</a>
                <div _ngcontent-jgb-c6="" class="navbar-dropdown">
                    <a _ngcontent-jgb-c6="" class="navbar-item" routerLink="/listarPacientes">Listar</a>
                    <a _ngcontent-jgb-c6="" class="navbar-item" routerLink="/cadastrarPaciente">Cadastrar</a>
                </div>
            </div>
            <div _ngcontent-jgb-c6="" class="navbar-item has-dropdown is-hoverable">
                <a _ngcontent-jgb-c6="" class="navbar-link">Médicos</a>
                <div _ngcontent-jgb-c6="" class="navbar-dropdown">
                    <a _ngcontent-jgb-c6="" class="navbar-item" routerLink="/listarMedicos">Listar</a>
                    <a _ngcontent-jgb-c6="" class="navbar-item" routerLink="/cadastrarMedico">Cadastrar</a>
                </div>
            </div>
            <div _ngcontent-jgb-c6="" class="navbar-item is-hoverable">
                <a _ngcontent-jgb-c6="" routerLink="/cadastrarConsulta">Adicionar consulta</a>
            </div>
        </div>
        <!---->
    </div>
</nav>