<app-menu></app-menu>
<div class="message-header" *ngIf="sucessoCadastrar" id="sucessoCadastrar"><h3>Aluno cadastrado com sucesso!</h3></div>
<div class="message-header" *ngIf="erroCadastrar" id="erroCadastrar"><h3>{{mensagemErro}}</h3></div>
<div>
    <h4 class="subtitle h4">Cadastrar novo paciente</h4>
    <label>
        Nome
        <br>
        <input class="input" type="text" [formControl]="nome">
    </label>
    <br>
    <label>
        Data de nascimento
        <br>
        <input class="input" type="date" [formControl]="dataNascimento">
    </label>
    <br>
    <br>
    <button class="button" (click)="cadastrar()">Login</button>
</div>